@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
  /* background-color: #079646; */
}

.main-page {
  /* background-color: #d2fbd0; */
  background-color: #079646;

}

.home-image {
  height: 40px;
  margin-top: 24px;
  margin-left: 24px;
}

.home-button1,
.home-button2,
.home-button3 {
  margin-top: 32px;
  font-size: medium;
  font-weight: 500;
  color: white;
}

.sample1, .sample2 {
  animation: appear 100s forwards;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.main-text1 {
  margin-top: -360px;
}

.main-text2 {
  margin-top: -280px;
}

.animated-home-heading1 {
  margin-left: 120px;
  font-weight: bolder;
  background-color: transparent;
  color: white;
  opacity: 0;
  animation: fadeLeft 3s forwards;
}

@keyframes fadeLeft {
  from {
    opacity: 0;
    transform: translateX(-240px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.animated-home-heading2 {
  margin-left: 120px;
  font-weight: 400;
  background-color: transparent;
  color: white;
  opacity: 0;
  animation: fadeUp 3s forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateX(-240px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.home-background {
  width: 936px;
  height: 458px;
  opacity: 0;
  animation: appear 3s forwards;
}

@keyframes appear {
    from {
        opacity: 0;
        transform: translateY(-120px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}

#Connector1 {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: line-anim 5s forwards infinite,
    connector-play 5s forwards infinite forwards;
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes connector-play {
  0% {
    stroke-dashoffset: 100%; /* Set the offset to 100% at the beginning (same as line-anim end) */
  }
  50% {
    stroke-dashoffset: 0; /* Set the offset to 0 at the end (same as line-anim start) */
  }
}

#Connector {
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: line-anim 2s forwards infinite, connector-play 2s forwards infinite alternate; /* Both animations have the same duration */
}
@keyframes line-anim {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes connector-play {
  0% {
    stroke-dashoffset: 100%; /* Set the offset to 100% at the beginning (same as line-anim end) */
  }
  100% {
    stroke-dashoffset: 0; /* Set the offset to 0 at the end (same as line-anim start) */
  }
}

.home-pic {
    background-color: transparent;
    text-align: right;
    margin-top: -384px;
    margin-left: -64px;
    width: 448px;
    height: 400px;
}


#SolidBlock1 {
    animation: appearT 10s forwards;
}

@keyframes appearT {
    from {
        opacity: 0;
        transform: translateY(-240px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}

#SolidBlock2 {
    animation: appearL 10s forwards;
}

@keyframes appearL {
    from {
        opacity: 0;
        transform: translateX(-240px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
}


.about-us-page {
  margin-top: 80px;
  background-color:white;
}

.about-us-design {
    margin-right: -16px;
    width: 144px;
    height: 144px;
}

.about-us-image {
    margin-top: 96px;
    margin-bottom: 96px;
    text-align: right;
}

.about-us-title {
  margin-left: 32px;
  font-weight: bold;
  color: #079646;
}

.about-us-what {
  margin-left: 16px;
  color: white;
}

.about-us-bg {
  margin-top: -64px;
  font-weight: 600;
  margin-left: -88px;
}

.about-us-content {
  margin-top: 32px;
  margin-left: 32px;
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  width: 392px;
  height: 256px;
  color: #079646;
}

.grad {
    margin-top: 88px;
    margin-bottom: 80px;
    margin-left: 40px;
    margin-right: 40px;
    background-image: linear-gradient(to bottom right, #98E19A, #C5F5C2);
}

.agent-mnmg {
    margin-top: -336px;
    margin-left: 48px;
}

.agent-mnmg-title {
    color: white;
    margin-bottom: 80px;
    margin-right: 28px;
}

.agent-mnmg-content {
    color: white;
    margin-right: 28px;
}

.agent-bg {
  margin-right: -8px;
}

.agent-mnmg-image {
  margin-top: 40px;
}

#why {
  background-image: linear-gradient(to bottom,  #FCF7F1 35%, #079646);
}

.why-choose-text {
  margin-bottom: -64px;
  font-weight: bold;
  color: #263238;
  text-align: center;
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
}

.why-choose-img {
  width: 588px;
  height: 85px;
}

.why-col {
  border: 2px solid #079646;
  background: #98E19A;
}

.bg-container {
  margin-top: -40px;
}

.why-title {
  color: #079646;
}

.why-text {
  color: #079646;
  height: 24px;
}

.why-row {
  margin-bottom: -160px;
}

.contact-img {
  margin-top: -64px;
  margin-bottom: -64px;
}

.slogan {
  border: 3px solid #98E19A;
  margin-left: 120px;
  margin-right: 120px;
  background-image: linear-gradient(to bottom,  #079646, #92CA91, #079646);
}

.why-slogan-text {
  color: white;
  margin-top: 108px;
  margin-right: 48px;
}

.contact-text {
  color: white;
  margin-top: 160px;
}

.contact-us {
  color: white;
  stroke: #98E19A;
  text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
  margin-top: 128px;
}

.foot {
  background-image: linear-gradient(to top,  #53BD5B, #079646);
}

.contact-icon {
  margin-left: 64px;
}

.c-text {
  color: white;
  width: 360px;
}

.billeroo {
  max-width: 40%;
  max-height: 40%;
}

.copyright {
  color: white;
}

.home-icon {
  fill: white;
  width: 120px;
  height: 120px;
}



@media (max-width: 576px) {

  /* Main Page */

  .home-pic {
    display: none;
  }
  #change1, #change2 {
    margin-left: 30%;
  }
  .animated-home-heading1{
    margin-left: 0px;
    margin-top: 200px;
    width: 48px;
    font-size: 40px;
  }
  .animated-home-heading2 {
    margin-left: 0px;
    margin-top: 280px;
    width: 0px;
  }

  /* End of Main Page */

  /* About Us */

  .about-us-image {
    display: none;
  }

  /* About Us */

  /* Agent Management */

  .grad {
    margin-top: 48px;
    margin-bottom: 48px;
  }

  .agent-bg {
    display: none;
  }

  .agent-mnmg-image {
    margin-top: -28px;
    margin-right: 0px;
    padding-top: 48px;
    width: 100%;
  }

  .agent-mnmg {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
  }

  .agent-mnmg-title {
    text-align: end;
    color: #079646;
    margin-bottom: 24px;
    margin-right: 0px;
    margin-left: 120px;
    margin-top: 24px;
    width: 152px;
  }

  .agent-mnmg-content {
    color: #079646;
    margin-bottom: 24px;
    margin-left: 64px;
    margin-right: 0px;
    width: 320px;
  }

  /* End of Agent Management */

  /* Why Choose Billeroo */

  .why-choose-text {
    margin-bottom: -56px;
  }

  .why-choose-img {
    max-width: 85%;
    max-height: 85%;
  }

  .why-img {
    max-width: 85%;
    max-height: 85%;
    margin-left: 32px;
  }

  .why-col {
    max-width: 85%;
    max-height: 85%;
  }

  .why-title{
    margin-top: -16px;
  }

  .why-text {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 64px;
  }

  .slogan {
    border: 3px solid #98E19A;
    margin-left: 24px;
    margin-right: 24px;
  }
  
  .why-slogan-text {
    color: white;
    margin-top: 16px;
    margin-right: 0px;
    font-size: 16px;
  }

  #row1, #row2 {
    display: flex;
    flex-direction: column;
  }

  #row3 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .contact-text {
    color: #263238;
    font-weight: bold;
    margin-top: 0px;
    margin-left: 8px;
    width: 440px;
  }
  
  .contact-us {
    color: white;
    stroke: #98E19A;
    text-shadow: 0px 5px 3px rgba(0, 0, 0, 0.25);
    margin-left: -96px;
    margin-top: 416px;
  }

  .contact-image {
    margin-top: -456px;
    margin-left: 72px;
    max-width: 75%;
    max-height: 75%;
  }

  /* End of Why Choose Billeroo */

  /* Footer */

  .billeroo {
    max-width: 75%;
    max-height: 75%;
  }
  
  .foot {
    margin-top: 160px;
  }

  #foot-content {
    flex-direction: row;
  }

  #foot-row {
    display: flex;
    flex-direction: column;
  }

  /* End of Footer */

}